
@using System.Linq.Expressions
@using Dominio.Entities
@model OrdenIniciarViewModel
<!--App-->
<div class="d-flex flex-column justify-content-center w-100 my-4">
    <div class="container">

        @using (Html.BeginForm("CrearOrden", "OrdenDeProduccion", FormMethod.Post, new { @class
= "form-group d-flex align-items-center justify-content-center " }))
        {
            <div class="container border border-primary align-items-center p-4 my-4">
                <div class="container mx-auto w-50">
                    <label for="">Numero de orden:</label>
                    <input name="numeroOrden" id="numeroOrden" class="form-control" type="text">
                </div>
                <div class="container w-50 justify-content-center my-4">
                    <div class="d-flex flex-row justify-content-between">

                        <div class="dropdown align-self-center">

                            <div class="dropdown">
                                @Html.DropDownListFor(x => x.ColorSelected, new SelectList(Model.Coloress, "Codigo", "Descripcion"), "--select--", htmlAttributes: new { @class = "btn btn - primary dropdown - toggle" })
                                @for (int i = 0; i < Model.Coloress.Count; i++)
                                {
                                    <input type="hidden" name="@Model.Coloress[i].Descripcion" value="@Model.Coloress[i].Descripcion" />


                                }
                            </div>
                            <div class="dropdown">
                                @Html.DropDownListFor(x => x.ModeloSelected, new SelectList(Model.Modeloss, "Sku", "Denominacion"), "--select--", htmlAttributes: new { @class = "btn btn - primary dropdown - toggle" })
                                @for (int i = 0; i < Model.Modeloss.Count; i++)
                                {
                                    <input type="hidden" name="@Model.Modeloss[i].Denominacion" value="@Model.Modeloss[i].Denominacion" />


                                }

                            </div>

                            <div class="dropdown">
                                @Html.DropDownListFor(x => x.LineaSelected, new SelectList(Model.Lineass, "Id", "Numero"), "--select--", htmlAttributes: new { @class = "btn btn - primary dropdown - toggle" })
                                @for (int i = 0; i < Model.Lineass.Count; i++)
                                {
                                    <input type="hidden" name="@Model.Lineass[i].Numero" value="@Model.Lineass[i].Numero" />


                                }
                                </div>
                            </div>

                        </div>
                </div>
            </div>
            <div class="d-flex">
                <button type="submit" value="submit" class='btn btn-primary btn-sm' style="width: 10vw;">Crear</button>
                <button class='btn btn-primary btn-sm ml-auto' style="width: 10vw;">Salir</button>
            </div>
            
        }
</div>
</div>
